*{
    padding: 0%;
}
body{
    background-image: url("https://i.pinimg.com/474x/13/f7/99/13f799e25ab8ab0d8014cbc99c036c6f.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div h1{
    background-image: url("https://i.pinimg.com/474x/1f/55/bf/1f55bfc3c375ec00d5b46237692c9646.jpg");
    color: white;
    border: solid black;
    padding: 10px;
}
p{
    color: white;
}
div li{
    color: white;
}
div h3{
    color: white;
}
div table{
    color: white;
}
a:link{
    color: white;
}
a:hover{
    color: aqua;
}
a{
    color: azure;
}
p {
    color: white;
}
#ribs{
    background-image: url("https://i.pinimg.com/474x/d7/8a/f6/d78af6637fbb80facccaac0af11a3d9f.jpg");
    color: coral;
    background-repeat: no-repeat;
    background-size: cover;
}
.picture{
    width: 400px;
    height: 400px;
}
h2{
    color: azure;
    
}
